{
    "env": {
      "test": {
        "presets": [
          [
            "env", {
              "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
              }
            }
          ]
        ]
      }
    },
    "presets": [
      [
        "env", {
          "targets": {
            "browsers": ["last 10 versions", "ie >= 8"]
          },
          "modules": false,
          "useBuiltIns": false
        }
      ]
    ]
  }